h2
{
    color: rgb(36, 103, 192);
}

button
{
    color: rebeccapurple;
    background-color: lightgray;
}
p
{
    font-size: 20px;
    color: darkgreen;
    text-align: left;
    
}
body
{
    background-color: rgb(250, 250, 250);
    /* background-color: #ff0000; */
}

*{
    font-family: Arial, sans-serif;   /* select all elements */
    font-style: italic;
}
#headerr
{
    text-align: center;
    text-shadow: 0capx 4px 6px rgba(0, 0, 0, 0.3);
    color: brown;
    text-decoration:rgb(145, 135, 155) wavy underline;
    font-size: x-large;
    font-weight: bolder;
}
.para{
    color: teal;
    font-size: 18px;
    font-weight: calc(23);
}
 