h2
{
    color: rgb(36, 103, 192);
}

button
{
    color: rebeccapurple;
    background-color: lightgray;
}
p
{
    font-size: 20px;
    color: darkgreen;
    
}
body
{
    background-color: lightyellow;
}